[Desktop Entry]
Version=1.0
Type=Application
Name=High Fidelity
GenericName=High Fidelity virtual world client (Interface)
Comment=High Fidelity virtual world client (Interface)
Exec=/usr/bin/hifi-interface
Icon=/opt/hifi/hifi_icon.png
Terminal=false
Categories=Game
